.row {
    display: flex;
    flex-wrap: wrap;
    padding-left:9%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 28%;
    padding: 25px;
  }

  /* .container {
    position: relative;
    width: 50%;
  } */

  .column:hover .overlay {
    height: 100%;
  }
  
  .img {
    margin-top: 8px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* display: block; */
    width: 100%;
    height: auto;
    transition: .3s;


  }

  .img:hover {
    cursor: pointer;
    /* box-shadow: .125em .125em .5em .5em #f0d793; */
    cursor: pointer;
    /* border: solid 1px #CCC; */
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;


  } 

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }


 
/* 
  .container:hover .overlay {
    height: 100%;
  } */
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

body {
    opacity: 1;
    transition: 2.2s opacity;
    background-image: linear-gradient(to bottom, #eee6d2, #f2e2b5,#f1db9c);
    


}
body.fade-out {
    opacity: 0;
    transition: none;

}



.fab fa-linkedin-in fa-lg {
    text-align: center;
    display: inline-block;
    vertical-align: baseline;

}

button {
    background-color: transparent;
    width: 150px;
    height: 40px;
    border-color: white;
    border-radius: 40px;
    color: #7a5f15;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    transition: .4s;

}

button:hover {
    cursor: pointer;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    background-color: white;
    color: #7a5f15;

}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }

    .row {
        padding-left: 0;
    }

    h1 {
        padding-left: 0;
        color:  #7a5f15;

    }

    h4 {
      padding-left: 0;
      padding-right: 0;
      color:  #7a5f15;

    }

    h5 {
        padding-left: 0;
        color:  #7a5f15;

    }

    button {
      white-space: nowrap;
      margin-bottom: 10px;
      margin-top: 10px;


    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .row {
        padding-left: 0;
    }

    h1 {
        padding-left: 0;
        color:  #7a5f15;

    }

    h4 {
      padding-left: 0;
      padding-right: 0;
      color:  #7a5f15;


    }

    h5 {
        padding-left: 0;
        color:  #7a5f15;

    }

    button {
      white-space: nowrap;
      padding-bottom: 10px;
    }
  }

h1 {
    padding-top: 90px;
    padding-left: 10%;
    font-family: 'Raleway', sans-serif;   
    font-size: 42px;
    color:  #7a5f15;
    letter-spacing: 7px;

}

h4 {
    max-width: 100%;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 35%;
    font-family: 'Raleway', sans-serif;   
     color:  #7a5f15;
    font-size: 20px;

}

h5 {
    padding-top: 10px;
    padding-left: 10%;
    font-family: 'Raleway', sans-serif;   
     color:  #7a5f15;
}

p {
  font-family: 'Raleway', sans-serif;  
  color:  #7a5f15;
}

p:hover{
  cursor: pointer;
  text-shadow: 1px 1px 1px #8a857b;
}

.fab fa-linkedin-in fa-lg {
  color: #7a5f15;
}

.fab fa-linkedin-in fa-lg:hover {
  cursor: pointer;

}

.fab fa-github fa-lg {
  color: #7a5f15;
}

.fab fa-github fa-lg:hover {
  cursor: pointer;

}