html, body {
    background-color: #f2e2b5;
    color: #7a5f15;
}

h1, h2, h3, h4, h5, h6 {
    color: #7a5f15;
    padding-left: 15px;
    padding-right: 15px;

}

.card-deck {
    padding-left: 15px;
    padding-right: 15px;
}